/* general */
html {
  overflow-y: scroll;
}
@font-face {
  font-family: "oswald";
  src: url(../Fonts/Oswald-VariableFont_wght.ttf);
}
body {
  height: 100vh;
}
.center {
  text-align: center;
}

/* home */

.bg-img {
  background-image: url("../Images/Angel\ devil\ mod\ DeviantArt.png");
  background-position-y: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.welcome-title {
  font-size: 8rem;
}

.caption {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.caption-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  border-radius: 100px;
}

/* gallery */
.gallery-contenedor {
  padding-top: 116px;
}
.footerMain {
  color: grey;
}

/* Listas header */
.list {
  padding-inline-start: 0;
  list-style-type: none;
  text-align: center;
}

/* contact */
.titleh1 {
  font-size: 4rem;
}
.contact-title {
  display: flex;
  padding-top: 116px;
}

.contact-title .contact-left {
  width: 50%;
  color: white;
  background-color: tomato;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-right: 120px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.contact-title .contact-right {
  width: 50%;
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.p-box {
  width: 500px;
  line-height: 30px;
  letter-spacing: 1px;
}

.span-box {
  font-size: 1rem;
}
.contact-info {
  display: flex;
}
.contact-left-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 0px 120px 0px 0px;
  width: 50%;
  background-color: tomato;
  color: white;
  height: 550px;
}
.item {
  margin-bottom: 60px;
}
a {
  text-decoration: none;
  color: white;
}
.h3-item {
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.icons {
  font-size: 30px;
}

.contact-right-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right-info .top {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact-right-info .top input {
  width: 45%;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #e3e3e3;
  outline-color: tomato;
  border-radius: 5px;
}
.contact-right-info textarea {
  width: 100%;
  font-size: 20px;
  height: 300px;
  padding: 10px;
  border: 2px solid #e3e3e3;
  outline-color: tomato;
  border-radius: 5px;
  margin-bottom: 30px;
  resize: none;
}
.contact-right-info button {
  background: tomato;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
}

/* about */
.abouth2 {
  text-align: center;
}
.contenedor {
  width: 100%;
  padding: 50px 200px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
}
.box {
  /* border: 1px solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  grid-area: box1;
}
.box-2 {
  grid-area: box2;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
}
.box-3 {
  grid-area: box3;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
}
.box-4 {
  grid-area: box4;
}

/* mq de celular */
@media screen and (max-width: 450px) {
  /* Media de home */
  .welcome-title {
    font-size: 4rem;
  }
  .bg-img {
    background-position-y: 10px;
    background-position-x: -120px;
  }
  .caption {
    justify-content: center;
    height: 150vh;
  }
  /* Media de about */
  .contenedor {
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box4"
      "box3";
  }
}
